:root { 
--gray_800_f2:#393838f2; 
--black_900_7f:#0000007f; 
--white_A700_b2:#ffffffb2; 
--black_900_5e:#0000005e; 
--black_900_b2:#000000b2; 
--gray_900_33:#1c1d2a33; 
--deep_orange_100_66:#f9dbc266; 
--gray_50:#f8f8f8; 
--white_A700_99:#ffffff99; 
--black_900_44:#00000044; 
--black_900:#000000; 
--gray_900_4c:#1c1d2a4c; 
--blue_gray_900:#27283a; 
--deep_orange_100:#f9dbc2; 
--gray_900_02:#1c1d2a; 
--white_A700_e5:#ffffffe5; 
--blue_900:#1d4c92; 
--gray_500:#8f8f8f; 
--blue_gray_100:#d7dade; 
--blue_700:#127ac5; 
--gray_800:#4f4f4f; 
--red_A200:#ff4869; 
--gray_900:#292928; 
--gray_900_01:#121111; 
--gray_100:#f5f5f5; 
--black_900_33:#00000033; 
--black_900_72:#00000072; 
--lime_50:#fbf3eb; 
--indigo_400_19:#4664d219; 
--white_A700:#ffffff; 
--blue_900_cc:#1d4c92cc; 
}