
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/SanchezRegular.ttf"); font-family : "Sanchez"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MontserratRegular.ttf"); font-family : "Montserrat"; font-weight : 400;  }